# C Functions 
useDynLib(sads, volkov)
## EXPORTS ##
## Export all names not beggining with .
##exportPattern("^[^\\.]")
#Alternative: export functions explicitly (and do not export internal functions)
## Density functions
export(dbs, dgs, dls, dmand, dmzsm, dpareto, dpoilog, dpower, drbs, dvolkov, dzipf, dpoig, dpoix)
## Probability functions
export(pbs, pgs,pls, pmand, pmzsm, ppareto, ppoilog, ppower, prbs, pvolkov, pzipf, ppoig, ppoix)
## Quantile functions
export(qbs, qgs, qls, qmand, qmzsm, qpareto, qpoilog, qpower, qrbs, qvolkov, qzipf, qpoig, qpoix)
## Fitting functions for each distribution
export(fitbs, fitgamma, fitgeom, fitgs, fitlnorm, fitls, fitmand, fitmzsm,
       fitnbinom, fitpareto, fitpoilog, fitpower, fitrbs, fitvolkov, fitweibull, fitzipf)
## General fitting and ploting  functions
export(fitrad, fitsad, octav, octavpred, radpred, pprad, ppsad, qqrad, qqsad, rad)
## Accessory functions
export(plotprofmle, pred.logser, dtrunc, ptrunc, qtrunc, rsad, updatesad, updaterad, distr)
## Explicit classes and methods export
exportClasses(rad, octav, fitsad, fitrad, summary.sads)
exportMethods(plot, points, lines, octavpred, radpred, qqsad, qqrad, plotprofmle)
# Methods that override bbmle counterparts:
exportMethods(show, summary, nobs, AIC, AICc)
# Standard stats methods
exportMethods(coefficients, fitted, fitted.values, residuals)
## IMPORTS ##
## Import specific functions from other packages used by new methods
importFrom("graphics", plot, points, lines, abline, axis, hist, par)
importFrom("grDevices", axisTicks, dev.interactive, devAskNewPage)
#importFrom("bbmle", AICc)
## Import a single function from VGAM and GUILDS
importFrom("VGAM",zeta)
importFrom("GUILDS", maxLikelihood.ESF)
## Import all packages listed as Imports or Depends
import(
    stats,
    methods,
    MASS,
    bbmle,
    poilog)
