## EXPORTS ##
## Export all names not beggining with .
##exportPattern("^[^\\.]")
#Alternative: export functions explicitly (and do not export internal functions)
## Density functions
export(dbs, dgs, dls, dmand, dmzsm, dpareto, dpoilog, dpower, drbs, dvolkov, dzipf)
## Probability functions
export(pbs, pgs,pls, pmand, pmzsm, ppareto, ppoilog, ppower, prbs, pvolkov, pzipf)
## Quantile functions
export(qbs, qgs, qls, qmand, qpareto, qpoilog, qpower, qrbs, qvolkov, qzipf)
## Fitting functions for each distribution
export(fitbs, fitgamma, fitgeom, fitgs, fitlnorm, fitls, fitmand, fitmzsm,
       fitnbinom, fitpareto, fitpoilog, fitpower, fitrbs, fitvolkov, fitweibull, fitzipf)
## General fitting and ploting  functions
export(fitrad, fitsad, octav, octavpred, radpred, pprad, ppsad, qqrad, qqsad, rad)
## Accessory functions
export(plotprofmle, pred.logser, dtrunc, ptrunc, qtrunc, rsad, trueLL)
## Explicit classes and methods export
exportClasses(rad, octav, fitsad, fitrad)
exportMethods(plot, points, lines, AICc, octavpred, radpred, qqsad, qqrad, trueLL)
## IMPORTS ##
## Import specific functions from other packages used by new methods
importFrom("graphics", plot, points, lines)
#importFrom("bbmle", AICc)
## Import a single function from VGAM and untb
importFrom("VGAM",zeta)
importFrom("untb", volkov, optimal.theta)
## Import all packages listed as Imports or Depends
import(
    methods,
    MASS,
    bbmle,
    poilog)
